DATABASE_URL="postgresql://postgres:postgres@localhost:5432/velobuddy?schema=public"
NEXT_PUBLIC_GOOGLE_MAP_API_KEY="your api_key here"
GOOGLE_AUTH_CLIENT_ID="your client_id here"
GOOGLE_AUTH_CLIENT_SECRET="your client_secret here"
NEXTAUTH_SECRET="anything value"
NEXTAUTH_URL="http://localhost:3000"
STRAVA_AUTH_CLIENT_ID="your client_id here"
STRAVA_AUTH_CLIENT_SECRET="your client_secret here"